/* 全体設定 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MathJax設定 */
@media (max-width: 600px) {
  mjx-mtable {
    font-size: 15px;
  }
}

/* 最初の１行のスペース */
p {
  text-indent: 15px;
}
/* 最初の１行のスペースなし */
p.no-indent {
  text-indent: 0;
}

/* navbar */
.navbar-nav .nav-link {
  white-space: nowrap;
}

/* ドロップダウン設定 */
.dropdown:hover>.dropdown-menu {
    display: block;
}
  
.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

/* 問題設定 */
/* 大問 */
.daimon {
  white-space: nowrap;
}

/* 画像設定 */
img {
  border: 1px solid;
}

.img-right {
  width: auto;
  float: right;
  margin-left: 0.5rem;
  margin-bottom: 0.25rem;
}

.img-under {
  width: auto;
  text-align:center;
  margin-bottom: 1rem;
}

@media (max-width: 600px) {
  .img-right {
    float: none;
  }
}

/* 問題装飾 */
.under-line {
  border-bottom: 2px solid #000;
}

.square {
  padding: 0.5em 1em;
  border: 2px solid #000000;
  display: inline-block;
}

.solid-line {
  display: inline-block;
  border: 2px solid #000;
  width: 100px;
}

.dashed-line {
  display: inline-block;
  border: 2px dashed #000;
  width: 100px;
}

/* 解答を表示する */
.details {
    line-height: 2;
    border: 1px solid #B9F9B2;
    width: 100%;
    margin: 0 auto 20px;
    &__summary {
        position: relative;
        display: block;
        background: #F3FFF3;
        cursor: pointer;
        margin: 0;
        padding: 10px 40px 10px 16px;
        &::-webkit-details-marker {
            display: none;
      }
      &::before {
        display: block;
        content: "";
        box-sizing: border-box;
        position: absolute;
        top: calc(50% - 6px);
        right: 16px;
        width: 6px;
        height: 6px;
        border: 6px solid transparent;
        border-left: 6px solid #B9F9B2;
        transition: all 0.4s ease-out;
        transform-origin: 3px 6px;
        transform: rotate(90deg);
        .details[open] & {
          transform: rotate(-90deg);
        }
      }
    }
    &__content {
        overflow: hidden;
        margin: 0;
        padding-left: 16px;
        padding-right: 16px;
      > * {
        margin: 0;
        padding-top: 16px;
        &:last-child {
          padding-bottom: 16px;
        }
      }
    }
}

.details__summary {
    color: #287E39;
}

.details__content {
    color: red;
    background-color: rgb(255, 253, 227);
}


/* profile */
.card-profile {
  width: auto;
  border: 0;
  border-radius: irem;
  box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.1);
}

.button {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.btn {
  font-size: 90%;
  border-radius: 5rem;
  font-weight: bold;
  white-space: nowrap;  /* ボタンのテキストを折り返さないようにする */
}

.profile_table {
  width: 100%;
  border: 1px solid #d1dbeb;
  border-radius: 8px;
  border-collapse: separate;
  overflow: hidden;
}

.profile_table .header {
  width: auto;
  padding: 8px 12px;
  text-align: center;
  background: #f1f5fa;
}

.profile_table .data {
  padding: 16px 24px;
}


/* サイドバー設定 */
/* カレンダー設定 */
.wrapper {
  width: 100%;
  background: #fff;
  border-radius: 10px;
}
.wrapper header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
}
header .icons {
  display: flex;
  align-items: center;
  width: 100%;
}
header .icons .current-date{
  flex: 7;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0;
  position: relative;
  left: -8px;
}
header .icons span {
  height: 38px;
  width: 38px;
  color: #878787;
  font-size: 1.5rem;
  margin: 0 1px;
  cursor: pointer;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
header .icons span:hover{
  background-color: #f2f2f2;
}
header .icons span:first-child{
  flex: 1.5;
  margin-right: auto;
}
header .icons span:last-child{
  flex: 1.5;
  margin-left: auto;
}
.calendar {
  padding: 1px;
}
.calendar ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}
.calendar ul li {
  position: relative;
  width: calc(100% / 7);
}
.calendar .weeks {
  padding: 0;
}
.calendar .weeks li{
  font-weight: 500;
}
.calendar .sunday{
  color: #cc0033;
}
.calendar .saturday{
  color: #0000ff;
}
.calendar .days {
  padding: 0;
  margin-bottom: 20px;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  margin-top: 20px;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.calendar .days li::before{
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  top: 50%;
  left: 50%;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li:hover::before{
  background: #f2f2f2;
}
.days li.active::before{
  background: #9b599b;
}