/* 全体設定 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ドロップダウン設定 */
.dropdown:hover>.dropdown-menu {
    display: block;
}
  
.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

/* 解答を表示する */
.details {
    line-height: 2;
    border: 1px solid #B9F9B2;
    width: 100%;
    margin: 0 auto 20px;
    &__summary {
        position: relative;
        display: block;
        background: #F3FFF3;
        cursor: pointer;
        margin: 0;
        padding: 10px 40px 10px 16px;
        &::-webkit-details-marker {
            display: none;
      }
      &::before {
        display: block;
        content: "";
        box-sizing: border-box;
        position: absolute;
        top: calc(50% - 6px);
        right: 16px;
        width: 6px;
        height: 6px;
        border: 6px solid transparent;
        border-left: 6px solid #B9F9B2;
        transition: all 0.4s ease-out;
        transform-origin: 3px 6px;
        transform: rotate(90deg);
        .details[open] & {
          transform: rotate(-90deg);
        }
      }
    }
    &__content {
        overflow: hidden;
        margin: 0;
        padding-left: 16px;
        padding-right: 16px;
      > * {
        margin: 0;
        padding-top: 16px;
        &:last-child {
          padding-bottom: 16px;
        }
      }
    }
}

.details__summary {
    color: #287E39;
}

.details__content {
    color: red;
    background-color: rgb(255, 253, 227);
}


/* profile */
.card-profile {
  width: 700px;
  border: 0;
  border-radius: irem;
  box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.1);
}

.button {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.btn {
  font-size: 90%;
  border-radius: 5rem;
  font-weight: bold;
  white-space: nowrap;  /* ボタンのテキストを折り返さないようにする */
}

.profile_table {
  width: 100%;
  border: 1px solid #d1dbeb;
  border-radius: 8px;
  border-collapse: separate;
  overflow: hidden;
}

.profile_table .header {
  width: 200px;
  padding: 16px 24px;
  text-align: left;
  background: #f1f5fa;
}

.profile_table .data {
  padding: 16px 24px;
}