{% extends "kakomon/base.html" %}
{% load widget_tweaks %}

{% block title %}科目 登録{% endblock %}

{% block base_management %}
    {% if user.is_contribute %}
        <h2 class="mb-4">科 目 登録</h2>
        <form method="post" class="row g-3" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-mb-4">
                <label for="id_title">定期試験</label>
                {% render_field form.exam class+="form-control" %}
            </div>
            <div class="col-mb-4">
                <label for="id_title">科目名</label>
                {% render_field form.name class+="form-control" %}
            </div>
            <div class="col-mb-4">
                <label for="id_title">科目順序</label>
                {% render_field form.name_order class+="form-control" %}
            </div>
            <div class="col-mb-4">
                <label for="id_title">試験PDF</label>
                {% render_field form.file_path class+="form-control" %}
            </div>
            <div class="col-mb-4">
                <button type="submit" class="btn btn-primary btn">登録</button>
            </div>
        </form>
    {% else %}
        <p>このページへのアクセス権限がありません。</p>
    {% endif %}
{% endblock%}