{% extends "kakomon/base.html" %}
{% load widget_tweaks %}

{% block title %}問題 登録{% endblock %}

{% block base_management %}
    {% if user.is_contribute %}
        <h2 class="mb-4">問 題 登録</h2>
        <form method="post" class="row g-3" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-mb-4">
                <label for="id_title">科目名</label>
                {% render_field form.subject class+="form-control" %}
            </div>
            <div class="col-mb-4">
                <label for="id_title">質問ID</label>
                {% render_field form.question_id class+="form-control" %}
            </div>
            <div class="col-mb-4">
                <label for="id_title">大問</label>
                {% render_field form.daimon class+="form-control" %}
            </div>
            <div class="col-mb-4">
                <label for="id_title">小問</label>
                {% render_field form.shomon class+="form-control" %}
            </div>
            <div class="col-mb-4">
                <label for="id_title">枝問</label>
                {% render_field form.edamon class+="form-control" %}
            </div>
            <div class="col-mb-4">
                <label for="id_title">類似問題</label>
                {% render_field form.similar_questions class+="form-control" %}
            </div>
            <div class="col-mb-4">
                <label for="id_title">問題説明</label>
                {% render_field form.question_description class+="form-control" %}
            </div>
            <div class="col-mb-4">
                <label for="id_title">問題画像</label>
                {% render_field form.question_image class+="form-control" %}
            </div>
            <div class="col-mb-4">
                <label for="id_title">問題</label>
                {% render_field form.question class+="form-control" %}
            </div>
            <div class="col-mb-4">
                <label for="id_title">解答インデント有無</label>
                {% render_field form.answer_no_indent %}
            </div>
            <div class="col-mb-4">
                <label for="id_title">解答画像</label>
                {% render_field form.answer_image class+="form-control" %}
            </div>
            <div class="col-mb-4">
                <label for="id_title">解答</label>
                {% render_field form.answer class+="form-control" %}
            </div>
            <div class="col-mb-4">
                <button type="submit" class="btn btn-primary btn">登録</button>
            </div>
        </form>
    {% else %}
        <p>このページへのアクセス権限がありません。</p>
    {% endif %}
{% endblock%}