{% extends 'kakomon/base.html' %}

{% block title %}問題 編集{% endblock %}

{% block base_management %}
    <h2 class="mb-4">問題 編集</h2>
    {% for question in questions %}
        {% ifchanged %}
            <div class="title">
                <h2>{{ question.subject.exam.get_exam_type_display }}試験  {{ question.subject.exam.get_navigation_or_mechanism_display }}  {{ question.subject.exam.get_grade_display }}</h2>
            </div>
        {% endifchanged %}
        {% ifchanged %}
            <div class="subtitle mb-2">
                <h3>{{ question.subject.exam.date.year }}年度 {{ question.subject.exam.date.month }}月 {{ question.subject.get_name_display }}</h3>
            </div>
        {% endifchanged %}
        <table class="table">
            <thead>
              <tr>
                <th scope="col">大問</th>
                <th scope="col">小問</th>
                <th scope="col">枝問</th>
                <th scope="col">問題</th>
                <th scope="col">解答</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                    <th scope="row"><a href="{% url 'kakomon:edit_question' question.pk %}">{{ question.daimon }}</a></th>
                    <td>{{ question.shomon }}</td>
                    <td>{{ question.edamon }}</td>
                    <td>{{ question.question | slice:":5" }}</td>
                    <td>{{ question.answer | slice:":5"  }}</td>
              </tr>
            </tbody>
        </table>
    {% endfor %}
{% endblock %}