{% extends 'kakomon/base.html' %}

{% block title %}科目 編集{% endblock %}

{% block base_management %}
    <h2 class="mb-4">科目 編集</h2>
    {% for subject in subjects %}
        {% ifchanged %}
            <div class="title">
                <h2>{{ subject.exam.get_exam_type_display }}試験  {{ subject.exam.get_navigation_or_mechanism_display }}  {{ subject.exam.get_grade_display }}</h2>
            </div>
        {% endifchanged %}
        {% ifchanged %}
            <div class="subtitle mb-2">
                <h3>{{ subject.exam.date.year }}年度 {{ subject.exam.date.month }}月</h3>
            </div>
            <div class="row">
        {% endifchanged %}
            <div class="col-3 d-flex justify-content-center align-items-center flex-column">
                <a type="button" class="px-4 btn btn-outline-primary" href={% url 'kakomon:edit_subject' subject.pk %}>{{ subject.get_name_display }}</a>
            </div>
    {% endfor %}
        </div>
{% endblock %}