{% extends "kakomon/base_kakomon.html" %}

{% block title %}海技士過去問サイト{% endblock %}

{% block exam_nav %}
<div class="bg-light py-3 mb-5">
    <ul class="nav justify-content-center">
        <li class="col-3 nav-item dropdown border-end">
            <a class="nav-link text-center active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                筆記試験  航 海
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href={% url 'kakomon:list_exam' "筆記" "航海" "1級" %}>航 海  1級</a></li>
                <li><a class="dropdown-item" href={% url 'kakomon:list_exam' "筆記" "航海" "2級" %}>航 海  2級</a></li>
                <li><a class="dropdown-item" href={% url 'kakomon:list_exam' "筆記" "航海" "3級" %}>航 海  3級</a></li>
            </ul>
        </li>
        <li class="col-3 nav-item dropdown border-end">
            <a class="nav-link text-center active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                筆記試験  機 関
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href={% url 'kakomon:list_exam' "筆記" "機関" "1級" %}>機 関  1級</a></li>
                <li><a class="dropdown-item" href={% url 'kakomon:list_exam' "筆記" "機関" "2級" %}>機 関  2級</a></li>
                <li><a class="dropdown-item" href={% url 'kakomon:list_exam' "筆記" "機関" "3級" %}>機 関  3級</a></li>
            </ul>
        </li>
        <li class="col-3 nav-item dropdown border-end">
            <a class="nav-link text-center active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                口述試験  航 海
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href={% url 'kakomon:list_exam' "口述" "航海" "1級" %}>航 海  1級</a></li>
                <li><a class="dropdown-item" href={% url 'kakomon:list_exam' "口述" "航海" "2級" %}>航 海  2級</a></li>
                <li><a class="dropdown-item" href={% url 'kakomon:list_exam' "口述" "航海" "3級" %}>航 海  3級</a></li>
            </ul>
        </li>
        <li class="col-3 nav-item dropdown">
            <a class="nav-link text-center active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                口述試験  機 関
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href={% url 'kakomon:list_exam' "口述" "機関" "1級" %}>機 関  1級</a></li>
                <li><a class="dropdown-item" href={% url 'kakomon:list_exam' "口述" "機関" "2級" %}>機 関  2級</a></li>
                <li><a class="dropdown-item" href={% url 'kakomon:list_exam' "口述" "機関" "3級" %}>機 関  3級</a></li>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}
{% block content %}
<!-- Hero section -->
<div class="container px-2 py-3">
    <div class="row flex-lg-row-reverse align-items-center justify-content-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6 pb-4">
            <img src="{{ MEDIA_URL }}website_img/hero-img.png" class="d-block mx-lg-auto img-fluid rounded" alt="index-img" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="dispaly-5 fw-bold text-body-emphasis text-center mb-3">海技士過去問サイト</h1>
            <p class="lead">海技士サイトは海技士試験の過去問をまとめたサイトです。</p>
        </div>
    </div>
</div>
{% endblock %}