{% extends 'kakomon/base_kakomon.html' %}

{% block title %}海技士過去問試験問題{% endblock %}

{% block content %}
    <div class="title">
        <h2>{{ exam_type }}試験  {{ navigation_or_engineering }}  {{ grade }}</h2>
        <h3>{{ year }}年 {{ month }}月 {{ subject }}</h3>
    </div>
    {% regroup questions by daimon as daimon_groups %}
    {% for daimon, questions in daimon_groups %}
        {% for question in questions %}
            <!-- 大問 section -->
            {% ifchanged daimon %}
            <div class="d-flex">
                <p class="daimon"><span class="border p-1 me-2">問題</span>{{ daimon }}</p>
                <!-- 大問横に問題説明文表示 -->
                {% if question.daimon_description %}
                <p>{{ question.daimon_description | safe | linebreaksbr }}</p>
                {% endif %}
            </div>
            {% endifchanged %}

            <!-- 小問 section -->
            {% if question.shomon %}
            {% ifchanged question.shomon %}
            <div class="d-flex">
                <p class="shomon">({{ question.get_shomon_display }})</p>
                <!-- 小問横 問題説明あり 画像あり 右側 -->
                {% if question.question_image_position_description_or_question == "description" and question.question_image_position_right_or_under == "right" %}
                <section>
                    <img src="{{ question.question_image.url }}" class="img-right" alt="Question Image">
                    <p>{{ question.shomon_description | safe | linebreaksbr }}</p>
                </section>
                {% elif question.question_image_position_description_or_question == "description" and question.question_image_position_right_or_under == "under" %}
                <!-- 小問横 問題説明あり 画像あり 下側 -->
                <section>
                    <p>{{ question.shomon_description | safe | linebreaksbr }}</p>
                    <img src="{{ question.question_image.url }}" class="img-under" alt="Question Image">
                </section>
                {% else %}
                <!-- 小問横 問題説明あり 画像なし -->
                <p>{{ question.shomon_description | safe | linebreaksbr }}</p>
                {% endif %}
                <section>
                    <!-- 小問 画像あり 右側 -->
                    {% if not question.edamon %}
                    {% if question.question_image_position_description_or_question == "question" and question.question_image_position_right_or_under == "right" %}
                    <img src="{{ question.question_image.url }}" class="img-right" alt="Question Image"> 
                    {% endif %}
                    <!-- 小問  -->
                    {% if question_no_indent %}
                    <p class="no-indent">{{ question.question | safe | linebreaksbr }}</p>
                    {% else %}
                    <p>{{ question.question | safe | linebreaksbr }}</p>
                    {% endif %}
                    <!-- 小問 画像あり 下側 -->
                    {% if question.question_image_position_description_or_question == "question" and question.question_image_position_right_or_under == "under" %}
                    <img src="{{ question.question_image.url }}" class="img-under" alt="Question Image">
                    {% endif %}
                    {% endif %}
                </section>
            </div>
            {% endifchanged %}
            <!-- 小問番号なし（航海・英語で使用） -->
            {% else %}
            <div class="lh-lg">
                <p>{{ question.question | safe | linebreaksbr }}</p>
            </div>
            {% endif %}

            <!-- 枝問 section -->
            {% if question.edamon %}
            <div class="d-flex">
                <p class="edamon">（{{ question.edamon }}）</p>
                <!-- 枝問 画像あり 右側 -->
                <section>
                    {% if question.question_image_position_description_or_question == "question" and question.question_image_position_right_or_under == "right" %}
                    <img src="{{ question.question_image.url }}" class="img-right" alt="Question Image"> 
                    {% endif %}
                    <!-- 枝問  -->
                    {% if question_no_indent %}
                    <p class="no-indent">{{ question.question | safe | linebreaksbr }}</p>
                    {% else %}
                    <p>{{ question.question | safe | linebreaksbr }}</p>
                    {% endif %}
                    <!-- 枝問 画像あり 下側 -->
                    {% if question.question_image_position_description_or_question == "question" and question.question_image_position_right_or_under == "under" %}
                    <img src="{{ question.question_image.url }}" class="img-under" alt="Question Image">
                    {% endif %}
                </section>
            </div>
            {% endif %}
            
            <!-- 解答 section -->
            <details class="details">
                <summary class="details__summary">正解を表示する</summary>
                {% if question.answer_no_indent %}
                    <div class="details__content">
                        <p class="ps-2 no-indent">{{ question.answer | safe | linebreaksbr }}</p>
                        {% if question.answer_image %}
                        <img src="{{ question.answer_image.url }}" class="img-fluid border border-secondary col-4 mb-2"alt="Answer Image">
                        {% endif %}
                    </div>
                {% else %}
                    <div class="details__content">
                        <p class="ps-2">{{ question.answer | safe | linebreaksbr }}</p>
                        {% if question.answer_image %}
                        <img src="{{ question.answer_image.url }}" class="img-fluid border border-secondary col-4 mb-2" alt="Answer Image">
                        {% endif %}
                    </div>
                {% endif %}
            </details>
        {% endfor %}
    {% endfor %}
{% endblock %}