{% extends 'kakomon/base_kakomon.html' %}

{% block title %}海技士過去問試験年度{% endblock %}

{% block content %}
    <nav class="border-bottom mt-3 mb-4" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href={% url 'kakomon:index' %}>ホーム</a></li>
            <li class="breadcrumb-item active" aria-current="page">試験日</li>
        </ol>
    </nav>
    <div class="title mb-3">
        <h2>{{ exam_type }}試験  {{ navigation_or_engineering }}  {{ grade }}</h2>
    </div>
    {% regroup exams by date.year as date_groups %}
    {% for date_group in date_groups %}
        <div class="subtitle mb-3">
            <h3>{{ date_group.grouper }}年</h3>
        </div>
        <div class="d-flex justify-content-evenly align-items-center mb-3">
            {% for exam in date_group.list %}
                <a type="button" class="col-sm-2 col-3 btn btn-outline-primary" href={% url 'kakomon:list_subject' exam.get_exam_type_display exam.get_navigation_or_engineering_display exam.get_grade_display exam.date.year exam.date.month %}>
                    {{ exam.date.month }} 月
                </a>
            {% endfor %}
        </div>
    {% endfor %}
    {% if exam_type == "口述" %}
        <div class="mt-5"><p class="h3">このページは作成中です。</p></div>
    {% endif %}
{% endblock %}