{% extends 'kakomon/base_kakomon.html' %}

{% block title %}海技士過去問試験科目{% endblock %}

{% block content %}
    <div class="title">
        <h2>{{ exam_type }}試験  {{ navigation_or_mechanism }}  {{ grade }}</h2>
    </div>
    <div class="subtitle mb-3">
        <h3>{{ year }}年度 {{ month }}月</h3>
    </div>
    <div class="d-flex justify-content-center">
        {% for subject in subjects %}
            <div class="col-3 d-flex justify-content-center align-items-center flex-column">
                <a type="button" class="px-4 mb-2 btn btn-outline-primary" href={% url 'kakomon:list_question' subject.exam.get_exam_type_display subject.exam.get_navigation_or_mechanism_display subject.exam.get_grade_display subject.exam.date.year subject.exam.date.month subject.get_name_display %}>{{ subject.get_name_display }}</a>
                {% if subject.file_path %}
                <a href="{{ subject.file_path.url }}" target="_blank">{{ subject.get_name_display }}.pdf</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}