{% extends "kakomon/base.html" %}
{% load widget_tweaks %}

{% block title %}お問合せ{% endblock %}

{% block base_page %}
<form action="{% url 'accounts:contact' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card card-profile my-5 mx-auto">
        <div class="card-body">
            <h4 class="card-title text-center">お問合せ</h4>
            <table class="profile_table mb-4">
                <tbody>
                    <tr>
                        <th class="header">お名前</th>
                        <td class="data">{% render_field form.name class+="form-control" %}</td>
                    </tr>
                    <tr>
                        <th class="header">メールアドレス</th>
                        <td class="data">{% render_field form.email class+="form-control" %}</td>
                    </tr>
                    <tr>
                        <th class="header">件名</th>
                        <td class="data">{% render_field form.subject class+="form-select" %}</td>
                    </tr>
                    <tr>
                        <th class="header">お問合せ内容</th>
                        <td class="data">{% render_field form.message class+="form-control" %}</td>
                    </tr>
                </tbody>
            </table>
            <div class="d-grid col-3 mx-auto mb-4">
                <button type="submit" class="btn btn-outline-warning">送信</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}