{% extends "kakomon/base.html" %}

{% block title %}ユーザー情報{% endblock %}

{% block base_page %}
<div class="card card-profile my-5 mx-auto">
    <div class="card-body">
        <h5 class="card-title text-center">プロフィール</h5>
        <table class="profile_table mb-4">
            <tbody>
                <tr>
                    <th class="header">ユーザー名</th>
                    <td class="data">{% if user.username %}{{ user.username }}{% else %}未設定{% endif %}</td>
                </tr>
                <tr>
                    <th class="header">名字</th>
                    <td class="data">{% if user.last_name %}{{ user.last_name }}{% else %}未設定{% endif %}</td>
                </tr>
                <tr>
                    <th class="header">名前</th>
                    <td class="data">{% if user.first_name %}{{ user.first_name }}{% else %}未設定{% endif %}</td>
                </tr>
                <tr>
                    <th class="header">メールアドレス</th>
                    <td class="data">{% if user.email %}{{ user.email }}{% else %}未設定{% endif %}</td>
                </tr>
            </tbody>
        </table>
        <div class="d-grid gap-2 col-6 mx-auto mb-4">
            <a class="btn btn-outline-warning btn-block" href={% url 'accounts:profile_change' user.id %}>編集する</a>
        </div>
    </div>
</div>
{% endblock %}